img {
  height: 140px;
  padding: 10px;
  width: 180px;
}

.name {
  float: right;
  padding-right: 50px;
}
.info {
  padding: 10px;
}
hr {
  border: 1px solid #6d031c;
}
section {
  display: grid;
  grid-template-columns: repeat(3, 1.5fr) 1.2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: auto;
  padding-left: 200px;
  padding-right: 200px;
}
.product1 {
  grid-area: 1 / 1 / 2 / 2;
  border: solid #6d031c 2px;
  background-color: #a79086;
}
.product2 {
  grid-area: 1 / 2 / 2 / 3;
  border: solid #6d031c 2px;
  background-color: #a79086;
}
.product3 {
  grid-area: 1 / 3 / 2 / 4;
  border: solid #6d031c 2px;
  background-color: #a79086;
}
.product4 {
  grid-area: 2 / 1 / 3 / 2;
  border: solid #6d031c 2px;
  background-color: #a79086;
}
.product5 {
  grid-area: 2 / 2 / 3 / 3;
  border: solid #6d031c 2px;
  background-color: #a79086;
}
.product6 {
  grid-area: 2 / 3 / 3 / 4;
  border: solid #6d031c 2px;
  background-color: #a79086;
}
.product7 {
  grid-area: 3 / 1 / 4 / 2;
  border: solid #6d031c 2px;
  background-color: #a79086;
}
.product8 {
  grid-area: 3 / 2 / 4 / 3;
  border: solid #6d031c 2px;
  background-color: #a79086;
}
.product9 {
  grid-area: 3 / 3 / 4 / 4;
  border: solid #6d031c 2px;
  background-color: #a79086;
}
.rightmenu {
  grid-area: 1 / 4 / 4 / 5;
  border: solid #6d031c 2px;
  background-color: #a79086;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: #1b1210;
}
.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 50px;
}
.rightmenuname {
  float: right;
  padding-right: 80px;
}
.slider {
  width: 250px;
  margin-left: 20px;
}
.parent {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: repeat(6, 60px);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  padding-left: 50px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  border: solid #6d031c 2px;
  background-color: #948078;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
  border: solid #6d031c 2px;
  background-color: #948078;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
  border: solid #6d031c 2px;
  background-color: #948078;
}
.div4 {
  grid-area: 4 / 1 / 5 / 2;
  border: solid #6d031c 2px;
  background-color: #948078;
}
.div5 {
  grid-area: 5 / 1 / 6 / 2;
  border: solid #6d031c 2px;
  background-color: #948078;
}
.div6 {
  grid-area: 6 / 1 / 7 / 2;
  border: solid #6d031c 2px;
  background-color: #948078;
}

.menuoption {
  text-align: center;
}
div {
  border-radius: 10px;
}
.product1:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.product2:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.product3:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.product4:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.product5:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.product6:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.product7:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.product8:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.product9:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.div1:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.div2:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.div3:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.div4:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.div5:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
.div6:hover {
  box-shadow: 10px 10px 10px #1b1210;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: #a79086;
}
.sliderchoose {
  text-align: center;
}
body {
  background-color: #673e37;
}
/*якщо маленький єкран*/
@media screen and (max-width: 1860px) {
  hr {
    display: none;
  }
  .name {
    padding: 10px;
  }
}

/*ПЛАНШЕТ*/
/**/
/**/
/**/
@media screen and (max-width: 1024px) {
  header {
    padding-left: 210px;
  }
  .product7 {
    display: none;
  }
  .product8 {
    display: none;
  }
  .product9 {
    display: none;
  }
  hr {
    display: none;
  }
  .info {
    display: none;
  }
  .rightmenuname {
    display: none;
  }
  .slider {
    display: none;
  }
  .sliderchoose {
    display: none;
  }
  img {
    height: 200px;
    padding: 10px;
    width: 300px;
  }
  .rightmenu {
    background-color: #673e37;
    border: 0px;
  }
  section {
    padding-left: 0;
    grid-template-rows: repeat(3, 0fr);
    height: 880px;
  }
  header {
    padding-right: 200px;
  }
  .name {
    float: left;
    padding-left: 10px;
  }
  br {
    display: none;
  }
  p {
    font-size: 25px;
  }
  footer {
    justify-content: space-between;
    position: absolute;
    width: 100%;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 20fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-left: 0;
  }

  .product1 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .product2 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .product3 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .product4 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .product5 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .product6 {
    grid-area: 3 / 3 / 4 / 4;
  }
  .rightmenu {
    grid-area: 1 / 1 / 2 / 4;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div5 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div6 {
    grid-area: 2 / 3 / 3 / 4;
  }
}

